branches:
  only:
  - master
before_install:
- openssl aes-256-cbc -K $encrypted_9626480e6579_key -iv $encrypted_9626480e6579_iv
  -in deploy.pem.enc -out .travis/deploy.pem -d
before_script:
- eval `ssh-agent -s`
- chmod 600 .travis/deploy.pem
- ssh-add .travis/deploy.pem
- git clone git@github.com:dit4c/dit4c.github.io.git build && rm build/*
- npm install
script:
- ./generate
after_success:
- cd build && git add -A . && git commit -m "Travis CI build"
